.div_details {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 10px;
}

.details_text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details_text h3 {
    margin: 0;
    font-size: 14px;
}

.details_text p {
    margin: 0;
    font-size: 12px;
}

.details_text h2 {
    margin: 0;
    font-size: 16px;

}

.btn_favorites {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}