.div_login_input {
    height: 50%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.div_login_input h3 {
    margin: 3px;
}

.offscreen {
    position: absolute;
    display: none;
}

.btn_login {
    width: 30%;
    align-self: center;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}