.div_map_details {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: space-between;
}

.div_map {
    height: 100%;
    width: 50%;
}

.div_marker_details {
    height: 100%;
    width: 50%;
    margin-left: 20px;
}

