.div_navBar {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    display: inline;
}

.logo {
    height: 100%;
    float: left;
    margin-left: 30px;
}

#image_logo {
    height: 90%;
    width: 100px;
}

.logo h1 {
    font-family: "MS Madi";
}

.navBar_actions {
    height: 100%;
    width: 20%;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    float: right;
}
