.div_signup_input {
    height: 50%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.btn_signup {
    width: 40%;
    align-self: center;
}

.div_signup_input h3 {
    margin: 3px;
}