.div_login_page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.div_login_data {
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div_login_image {
    height: 100%;
    width: 45%;
    align-items: center;
    justify-content: center;
}

#login_image {
    height: 90%;
    width: 70%;
    float: right;
    margin-top: 20px;
}

#logo {
    height: 100px;
    width: 200px;
}