.div_signup_page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.div_signup_data {
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div_signup_image {
    height: 100%;
    width: 45%;
    align-items: center;
    justify-content: center;
}

#logo {
    height: 100px;
    width: 200px;
    margin-bottom: 20px;
}